$primary: #ffb548;
$text-dark: rgba(255, 255, 255, 0.5);
$body-dark: #080a0b;
$bg-dark: rgba(255, 255, 255, 0.08);

$font-family-Arial: "arial";
$font-family-openSans: "Open Sans", sans-serif;

body 
{
    font-family: Arial,Bold;
}
*,
*::after,
*::before 
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html
{
  font-size: 62.5%;
}

body 
{
  box-sizing: border-box;
  a:link {
    text-decoration: none;
  }
}

section
{
  padding: 3rem;
}

p 
{
  margin: 0;
}

@media (max-width: 720px) 
{
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) 
{
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
}
body {
  font-family: $font-family-Arial;
}
.h1 {
  font-size: 7.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 5.6rem;
}

.h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: $white;
  font-weight: 400;
  letter-spacing: 3px;
}

.h3 {
  color: $primary;

  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.sub-text {
  font-size: 2.4rem;
  color: $white;
  font-weight: 400;
  font-family: $font-family-openSans;
}

.body-sentence {
  font-size: 1.8rem;
  color: $white;
  font-weight: 400;
  font-family: $font-family-openSans;
}

/*Button*/
.button-main {
  font-size: 1.6rem;
  background-color: $primary;
  border-radius: 1rem;
  padding: 0.8rem 6rem;
  height: 6rem;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 181, 72, 0.3);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 181, 72, 0.3);
  }
}


/* Header */
.header {
  background-image: url(/assets/image/main-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;

  & .container {
    height: 85%;
    text-align: center;
    & h1 {
      letter-spacing: 6px;
    }
    & p {
      letter-spacing: 2px;
    }
  }
  & .bottom-link {
    line-height: 1;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: $white;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}

/* Navbar */
.navbar {
  text-transform: uppercase;
  font-family: $font-family-openSans;

  &.bg-dark-trans {
    background-color: rgba($color: $black, $alpha: 0.5);
  }
  &-brand {
    letter-spacing: 3px;
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: 6rem;
  }

  &-toggler {
    color: $primary;
    border-color: $white;
    &:focus {
      box-shadow: 0 0 0 0.08rem;
      border-color: $primary;
    }
    &-icon-modif {
      color: $white;
    }
  }

  & ul li {
    padding: 0 0.7rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.2rem;
    a {
      color: $white;
      &:hover {
        color: $primary;
      }
      &:focus {
        color: $primary;
      }
    }
  }
  .vr {
    background-color: $white;
    width: 2px;
    border: 0;
  }
}

/* The Game Section*/
.the-game {
  height: 100vh;
  background-image: url(../assets/image/the-games-bg.jpg);
  background-size: cover;
}

.carousel-control-next 
{
  right: -7.5%;
  &-icon {
    background-image: url(../assets/image/switch-right.svg);
  }
}

.carousel-control-prev 
{
  left: -7.5%;
  &-icon {
    background-image: url(../assets/image/switch-left.svg);
  }
}

.carousel-indicators [data-bs-target] 
{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.carousel-indicators 
{
  .active {
    background-color: #fff;
  }
}

/* Feutures Section */
.features 
{
  background-image: url(../assets/image/features.jpg);
  background-size: cover;
  background-position: right;
  height: 100vh;
}

.steps 
{
  &-button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;

    margin: 0 0 0.4rem 0;
  }

  &-body {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  &-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 1px solid $white;
  }
}

.active-steps 
{
  .steps-item {
    position: relative;
    .steps-dot {
      background-color: $white;
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 320%;
      background-color: $white;
      top: 1.4rem;
      left: 0.4rem;
      border-radius: 100px;
    }
  }
}

/* System Requitment Section */
.system-req 
{
  
  background-image: 
  url('./assets/image/requirements.png');
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.content {
  .row > div {
    padding: 0.8rem;
    padding-bottom: 1.2rem;
  }
}


/* Top Score Section*/
.top-scores 
{
  height: 100vh;
  background-image: url(../assets/image/top-score-bg\(2\).png),
    url(../assets/image/top-score-bg.png);
  &__card {
    &:hover .custom-card:not(:hover) {
      transform: scale(0.9) translateY(-1rem);
    }
  }
}
.custom-card 
{
  background: $bg-dark;
  position: relative;
  width: 80%;
  padding: 1.5rem;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
  &__head {
    display: flex;
    justify-content: space-between;

    .avatar {
      border-radius: 50%;
      width: 6.5rem;
      height: 6.5rem;
      position: absolute;
      left: 0.8rem;
      z-index: 10;
    }
    &--avatar {
      background-image: url(../assets/image/ellipse-orange.png);
      background-position: center;
      background-size: cover;
      width: 6.2rem;
      height: 6.2rem;
      margin-right: 1rem;
    }
    &--user {
      line-height: 1;
      margin-top: auto;
      margin-bottom: auto;
      .name 
      {
        color: $primary;
        text-transform: capitalize;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .title 
      {
        color: $text-dark;
        text-transform: capitalize;
        font-weight: 400;

        font-size: 1.8rem;
        font-family: $font-family-openSans;
      }
    }
  }
  &__body {
    .date {
      font-size: 1.4rem;
      color: $text-dark;
      font-family: $font-family-openSans;
    }
  }
  &:hover {
    transform: scale(1.1) translateY(-1rem);
    z-index: 100;
  }
}


/* Subscirbe Section */
.subscribe 
{
  background-image: url('./assets/image/newsletter.png');
  height: 100vh;
  &-image {
    width: 445px;
    height: 694px;
    background: radial-gradient(rgba(255, 255, 255, 0.01) 30%, $body-dark 70%),
      url('./assets/image/skull.png');
  }
  span {
    position: absolute;
    font-size: 1.4rem;
    color: $text-dark;
    top: 0.7rem;
    left: 1.7rem;
  }
}

/* Footer Section */
.footer {
  background-color: $body-dark;
  nav {
    ul > li {
      display: inline;
    }
  }
  hr {
    height: 3px;
    background-color: $text-dark;
  }
  .copyright {
    font-size: 1.4rem;
    color: $text-dark;
    font-family: $font-family-openSans;
  }
}


